<div class="container">
  <div class="mensajes">

  </div>
  <div class="acciones">

  </div>
  <div class="container mt-2 pt-2">
    <div class="autor form-group">
      <input type="text" class="form-control" placeholder="Escribe tu nombre">
    </div>
    <div class="mensaje form-group">
      <input type="text"  class="form-control" placeholder="Escribe tu mensaje">
    </div>
    <button type="button" name="" id="" class="btn btn-primary" btn-lg btn-block">Enviar</button>
  </div>
</div>